<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script> -->
	<title>IpLangOs</title>
</head>
<body>
 <div class='ui fixed inverted menu'>
 	<div class='ui container'>
 		<div class='header item'><i class='idea icon'></i>Ip |Lan |Os</div>
 	</div>
 </div>

